.git
.ruff_cache
**/__pycache__
**/.dockerignore
**/.vscode
**/*.egg-info
**/*.py[codz]
**/*$py.class
**/compose.yaml
**/Dockerfile
docker-bake.hcl
docker-compose.yaml
docs/
flake.lock
flake.nix
templates
.venv/
**/assets/blenderScripts
**/assets/doc
**/reachy_anim.blend
**/*.gif
**/*.mp4
**/*.mp3
