NVIDIA_API_KEY=nvapi-FIXME
HF_TOKEN=hf_FIXME
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

#EXTERNAL_MINIO_BASE_URL=127.0.0.1:9010
#[OR]
INTERNAL_MINIO_BASE_URL=127.0.0.1:9010
EXTERNAL_MINIO_BASE_URL=s3.ap-southeast-1.amazonaws.com
EXTERNAL_PHOTO_BASE_URL=aih-photo-booth-app.s3.ap-southeast-1.amazonaws.com
EXTERNAL_MINIO_ACCESS_KEY=FIXME
EXTERNAL_MINIO_SECRET_KEY=FIXME
EXTERNAL_MINIO_BUCKET=aih-photo-booth-app
